* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(88,0,0);
background: linear-gradient(257deg, rgba(88,0,0,1) 0%, rgba(0,8,79,1) 100%);
    flex-direction: column;
    gap: 15px;
}

.container1 {
    width: 80%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}


img {
    height: 350px;
    width: 201px;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 30%;
    background-position: center;

}

img:hover {
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}

button {
    width: 120px;
    height: 90px;
    box-shadow: rgba(4, 38, 174, 0.56) 0px 22px 70px 4px;
    background: rgb(255,0,0);
    background: linear-gradient(257deg, rgba(255,0,0,1) 0%, rgba(0,26,255,1) 100%);
    border-radius: 30%;
    color: white;
}

